* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.pcart{
  float: right;
  margin-top: -30px;
  font-weight: bold;
  margin-right: 25px;
}

.pcart >a{
  color: black;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}



.topnav {
  /* position: -webkit-sticky; */
  position: sticky;
 top: 50px;
 width: 100%;
 height:60px;
 box-shadow: 0px 8px 16px 0px rgba(241, 103, 152, 0.2);
 
}


.logo{
width: 10%;
height: 50px;
 justify-content: space-around;
  background-color: white;
  color: #fc2779;
}

.log >.logo:hover {
  color:#fc2779;
 background-color: white;
    }

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 16px;
justify-content: center;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .search-container2 {
width: 15%;
margin-left: 55%;

}

.topnav input[type=text2] {
  padding: 10px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 180%;
  border: 2px solid gray;
  border-radius: 10px;
}

.topnav .search-container button {
  margin-left: 20%;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: black;
}

.dropdown {
  margin-left: 85%;
  overflow: hidden;
  margin-top: -40px;
 
}

.dropdown {
  overflow: hidden;
  font-weight: bold;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
  
}

.dropdown-content > a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
 font-weight: bold;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color:white;
  color: black;
}

.dropdown-content a:hover {
  background-color:black;
  color:white;
}

.dropdown:hover .dropdown-content {
  display: block;
}




/* .pcart >a:hover {
  color:#fc2779;
 background-color: white;
    } */

#nav_p{
  overflow: hidden;
  background-color:palevioletred;
  height: 50px; 
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

}

#nav_p{
  background-size: cover !important;
  background-color: #fc2779;
  background-image: url(https://adn-static1.nykaa.com/media/wysiwyg/2021/common-strip.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  position: sticky;
  
}

.pheading {
  float: left;
  margin-top: 12px;
}
.pheading > a{
  font-weight: bold;
}

.pheading>a:hover {
  color:#fc2779;
    }

.pheading {
      position: relative;
      animation-name: example;
      animation-duration: 2s;
      animation-iteration-count: 100;
    }
    
 @keyframes example {
      0%   { left:0px; top:0px;}
      25%   { left:0px; bottom:0px;}
      55%   { left:0px; top:0px;}
      75%  { left:0px; top:200px;}
      100% {left:0px; top:0px;}
    }

#nav_p > a {
  color: black;
  text-align: center;
  padding: 12px 16px;
  font-size: 13px;
font-weight: bold;
justify-content:space-around;
text-decoration: none;
margin-left: 0%;
/* position: sticky; */
}
.a1{
 float: right;
  text-align: center;
  justify-content: space-between;
  margin-top: 15px;
  font-weight: bold;
}

.a1 > a{
  margin-left: 10px;
  justify-content: space-around;
  margin-top: 10px;
  color: black;
  text-decoration: none;
}
.a1 > a::after {
  content: "";
  width: 1px;
  height: 20px;
  background: #000;
  position: absolute;
  top: 10px;
  margin-left: 13px;
  justify-content: space-around;
margin-left: 5px;
margin-top: 5px;
font-weight: bold;
}
.a1 >a:hover {
  color:#fc2779;
    }

    #r_drop_part {
      width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 15px;
      padding-bottom: 10px;
      padding:  20px;
      margin-top: 8px;
      float:left;
      font-weight: bold;
    }
    .drop {
      color: black;
      position: relative;
      display: inline-block;
      font-size: 14px;
      cursor: pointer;
    }
    .indrop {
      background-color:white;
      text-align: left;
      display: none;
      position: absolute;
      z-index: 1;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,rgba(0, 0, 0, 0.24) 0px 1px 2px;
      border-radius: 0 0 3px 3px;
      min-width: 250px;
      white-space: nowrap;
      padding-left: 20px;
      padding-bottom: 20px;
      padding-right: 60px;
      border-top: none;
    }
    .indrop>ul {
      margin-top: 10px;
      font-size: 12px;
      margin: none;
      font-weight: bold;
      float: none;
    }
    .indrop>ul>a:hover {
      color: #fc2779;
    }
    .indrop>ul:first-child {
      margin-top: 20px;
    }
    .indrop>ul>a {
      list-style: none;
      text-decoration: none;
      color: #8a8888;
    }
    .drop:hover {
      color:#fc2779;
    }
    .drop:hover .indrop {
      display: block;
    }
    .drop i {
      width: 3px;
      margin-left: 10px;
    }


    
.a2{
  margin-top: -50px;
  float:left;
  font-weight: bold;
  margin-top: 10px;
}

.a2 >a{
  text-decoration: none;
  text-decoration-line: none;
}
.a2 >a:hover {
  color:#fc2779;
 background-color: white;
    }

    #offer_s{
      text-decoration: none;
      color: white;
    }


    #preeti{
      font-size: 20px;
      /* padding: 30px 15px 30px 15px; */
      /* border: 1px solid pink; */
      margin-top: -15px;
      margin-right: 5px;
      text-decoration: none;
      font-weight: bolder;
      display: flex;
      justify-content: space-around;
    }

    .dropbtn{
      border: 1px solid green;
      margin-bottom: 20px;
      font-size: 40px;
    }

   